{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 logo-font text-black">Welcome to BalconyGrown</h1>
                <p>Here you can buy all you need for growing your own food on your balcony.</p>
            </div>
        </div>
    </div>
{% endblock %}